.contacts {
  .contacts-block {
    padding-top: 50px;
    text-align: center;
    
    .block__left {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 30%;

      .left__title {
        font-family: 'Circe';
        font-size: 18px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .left__inputs {
        margin-top: 0px;

        .inputs__item {
          position: relative;
          height: 60px;

          input {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            line-height: 30px;
            width: 300px;
            box-sizing: border-box;
            background: transparent;
            border: none;
            border-bottom: 1PX solid #8d959e;
            font-size: 18px;
            color: #fff;
            outline: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }

          .item__placeholder {
            display: none;
            font-size: 18px;
            position: absolute;
            bottom: 5px;
            left: 0;
            transition-property: transform, font-size;
            transition-duration: .4s, .3s;
            color: #8d959e;
            //transition: all .4s ease;
          }

          &.active {
            .item__placeholder {
              font-size: 12px;
              color: #6e6e6e;
              transform: translateY(-175%);
            }
          }

          &.loaded {
            .item__placeholder {
              display: block;
            }
          }
        }
      }

      .left__btn {
        margin-top: 50px;
      }
    }

    .block__right {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 55%;

      .phone-block {
        position: relative;
      }

      .right__item {
        //margin-top: 70px;
        float: left;
        width: 50%;

        .item__title {
          color: #8d959e;
          text-transform: uppercase;
          font-size: 18px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .item__image {
          position: relative;
          height: 85px;
          margin-top: 55px;

          .image__block {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom left;
          }

          span {
            position: absolute;
            bottom: 0;
            left: 79.5%;
            font-family: 'Circe';
            font-size: 15px;
            text-transform: uppercase;
            line-height: 1;
            white-space: nowrap;
          }
        }

        .item__bottom {
          position: relative;
          margin-top: 80px;

          .bottom__item {
            margin-top: 10px;

            .item__name {
              display: inline-block;
              vertical-align: middle;
              font-size: 18px;
              line-height: 1.05;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }

            .item__mail {
              font-size: 18px;
              color: #8d959e;
              text-decoration: none;
              transition: all .3s ease;

              &:hover {
                color: #fff;
              }
            }

            .phone-block {
              &:after {
                top: -.5em;
              }
            }
          }
        }
      }
    }
  }

  .phone-block {
    &:after {
      display: none;
    }
  }
}

.contacts-map {
  overflow: hidden;
  height: 445px;
}

#contacts-map {
  height: 475px;
  margin-top: 50px;
}

.contact-body {
  .us-content {
    background: #000;
  }
}