@import 'fonts';
@import 'clearfix';
@import 'grayscale';

// @import '../components/perfect-scrollbar/css/perfect-scrollbar';
@import 'p-scrollbar';

// @import 'scrollbar.css';


html, body {
  // min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Circe';
  font-weight: 300;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

input, button {
  font-family: 'Circe';
}

// .gray {
  // @include grayscale;
// }

$headerHeight: 140px;
$footerHeight: 60px;

body {
  background: #121212 url(../images/bg.jpg);
  min-width: 1100px;
  transform: translateZ(0);
}

.wrapper {
	padding: 0 20px;
	max-width: 1420px;
	margin: 0 auto;
}

.in-wrapper {
  position: relative;
  color: #fff;
  margin: (-$headerHeight) 0 (-$footerHeight);
  padding: $headerHeight 0 $footerHeight;
  box-sizing: border-box;
  min-height: 100vh;
}

.page-wrapper {
	min-height: 100%;
	margin-bottom: -$footerHeight; 

	&:after {
		content: "";
		display: block;
		height: $footerHeight;
	}
}

.us-content {
  position: relative;
  z-index: 3;
}

.us-background {
  position: absolute;
  z-index: 1;
  top: $headerHeight;
  bottom: $footerHeight;
  left: 0;
  right: 0;
  background: rgba(26, 26, 26, .7);
}

.phone-block {
  font-family: 'Circe';
  display: inline-block;
  color: #fff;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: -5px;
    width: 13px;
    height: 13px;
    background: url(../images/phone-icon.png) 0 0 / 100% 100%;
  }

  .phone__code {
    font-size: 12px;
    margin-right: 3px;
  }

  .phone__number {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    padding-right: 30px;

    span {
      color: #677077;
    }
  }
}

.us-btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  border: 2PX solid #8d959e;
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color .2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8d959e;
    transform: translateY(-100%);
    transition: all .2s ease;
  }

  &:hover {
    color: #000000;

    &:before {
      transform: translateY(0);
    }
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.stage {
  iframe {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content {
  
}

@import 'includes/header';
@import 'includes/footer';

@import 'pages/architecture';
@import 'pages/index';
@import 'pages/company';
@import 'pages/contacts';
@import 'pages/residence';

@media all and (max-width: 767px) {
  @import 'phone';
}
