extends templates/layout

block vars
  - var bodyClass = 'architecture'
  - var activePage = 'architecture.html'


block content 
  - var images = 16

  .content
    .slider-wrapper
      .slider
        - var bi = -1
        while bi < images -1
          - bi++
          .item
            .bg(style="background-image: url(images/slides/#{ bi % 2 + 1 }.jpg)")
      .cover

    .shadow-wrapper
      .preview-gallery
        .container
          - var si = -1
          while si < images -1
            - si++
            .item
              .preview(data-slide-id="#{ si }")
                .bg(style="background-image: url(images/slides/#{ si % 2 + 1 }_small.jpg)")

    .day-night.show-tip.day
      .tip Для смены режима просмотра<br> нажмите на иконку
      .switch

block scripts


    