extends templates/layout

block vars
  - var bodyClass = 'company-body'

block content
  .in-wrapper.company
    .us-background
    .us-content
      .wrapper
        ul.company__list
          li.list__item#knight
            a(target="_blank" href="http://www.knightfrank.ru").item__image
              .image__default(style="background-image: url(../images/partners/knight_gray.svg)")
              .image__hover(style="background-image: url(../images/partners/knight.svg)")
            .item__content
              .content__title
                a(target="_blank" href="http://www.knightfrank.ru") Эксклюзивный брокер
              .content__link
                a(target="_blank" href="http://www.knightfrank.ru") www.knightfrank.ru
              .content__text
                p.
                  Консалтинговая компания Knight Frank основана в Лондоне в 1896 году и является крупнейшей международной независимой консалтинговой компанией, предоставляющей своим клиентам услуги на рынке коммерческой и жилой недвижимости. Knight Frank со своим стратегическим партнером Newmark Knight Frank владеет сетью из 370 офисов по всему миру и насчитывает более 12 тысяч специалистов. 
                p.
                  Knight Frank предлагает полный комплекс консалтинговых услуг для девелоперов, собственников и пользователей недвижимости, а также для юридических и частных лиц. Преимущества сотрудничества с Knight Frank обеспечены международным статусом и доступом к ключевым рынкам мира. 
          li.list__item#lider
            a(target="_blank" href="http://www.l-invest.ru").item__image
              .image__default(style="background-image: url(../images/partners/lider-gray.svg)")
              .image__hover(style="background-image: url(../images/partners/lider.svg)")
            .item__content
              .content__title
                a(target="_blank" href="http://www.l-invest.ru") Девелопер
              .content__link
                a(target="_blank" href="http://www.l-invest.ru") www.l-invest.ru
              .content__text
                p.
                  Акционерное общество «Лидер-Инвест» учреждено в 2004 году крупнейшей российской публичной финансовой группой — АФК «Система» и уже более десяти лет лидирует в сфере девелопмента жилой и коммерческой недвижимости в Москве. 
                p.
                  Компанией реализовано 14 объектов общей площадью порядка 375 тыс. кв. м. В инвестиционный портфель АО «Лидер-Инвест» входят здания жилых домов и офисов, украшающих облик столицы. Помимо роскошной «Резиденции на Всеволожском», это комплекс апартаментов в центре Москвы «Дом на Люсиновской», возводимый жилой комплекс с собственным детским садом на юге столицы «Дом на Нагатинской», международный бизнес-парк Nagatino i-Land и другие крупномасштабные проекты. 
          li.list__item#mezon
            a(target="_blank" href="http://www.mezon.ru").item__image
              .image__default(style="background-image: url(../images/partners/mezon-gray.svg)")
              .image__hover(style="background-image: url(../images/partners/mezon.svg)")
            .item__content
              .content__title
                a(target="_blank" href="http://www.mezon.ru") Генеральный проектировщик
              .content__link
                a(target="_blank" href="http://www.mezon.ru") www.mezon.ru
              .content__text
                p.
                  С 1999 года Архитектурное бюро занимается разработкой концепций развития территорий, проектированием жилых и общественных зданий, благоустройством, реализует интерьерные решения общественных пространств. В перечне работ и услуг бюро - ведение международных архитектурных команд, консультирование проектировщиков и девелоперов по вопросам развития территорий. В числе известных проектов бюро жилой дом при Академии Наук по ул. Косыгина, Школа скульптуры «Рукав» на Земляном валу, комплексная реконструкция зданий на Лужнецкой набережной.
                p.
                  Вдохновителями и создателями Архитектурного бюро «Мезонпроект» являются Александра Кузьмина и Илья Машков. 
          li.list__item#novostroy
            a(target="_blank" href="http://www.mospromstroy.com").item__image
              .image__default(style="background-image: url(../images/partners/mos-gray.svg)")
              .image__hover(style="background-image: url(../images/partners/mos.svg)")
            .item__content
              .content__title
                a(target="_blank" href="http://www.mospromstroy.com") Генеральный подрядчик
              .content__link
                a(target="_blank" href="http://www.mospromstroy.com") www.mospromstroy.com
              .content__text
                p.
                  ГК «Моспромстрой» 42 года лидирует на строительном рынке России. Созданное в 1972 году, как главное управление по промышленному строительству Москвы, оно было реорганизовано в 1990 году в АОЗТ «Моспромстрой», с апреля 2015 года в ПАО «Моспромстрой». Компания реализует проекты полного цикла, включая проектирование, строительство, выполнение функций технического заказчика, эксплуатацию построенной недвижимости.
                p.
                  Основу многотысячного коллектива составляют специалисты с трудовым стажем более 20 лет. География работ компании сегодня не ограничивается пределами Москвы. «Моспромстрой» активно развивает проекты промышленного назначения, социальной сферы, жилищного строительства в регионах РФ.
          li.list__item#cubes
            a(target="_blank" href="http://www.moskapstroy.ru").item__image
              .image__default(style="background-image: url(../images/partners/mos2-gray.svg)")
              .image__hover(style="background-image: url(../images/partners/mos2.svg)")
            .item__content
              .content__title
                a(target="_blank" href="http://www.moskapstroy.ru") Технический заказчик
              .content__link
                a(target="_blank" href="http://www.moskapstroy.ru") www.moskapstroy.ru
              .content__text
                p.
                  «Москапстрой» - одна из ведущих инжиниринговых строительных компаний России, ведущая свою деятельность с 1957 года. Компания обладает лицензией СРО и занимается строительством, реконструкцией и реставрацией любых зданий и сооружений, выполняя целый комплекс услуг «под ключ»: от разработки проектной документации до благоустройства прилегающих территорий. Профессиональное отношение и тщательный подход гарантируют безупречное качество работы «Москапстрой». 
                p.
                  В состав «Москапстрой» входят более 25 дочерних предприятий, специализирующихся на возведении жилой и коммерческой недвижимости, объектов здравоохранения, образования, культуры и спорта, инженерных коммуникаций.

block scripts