extends templates/layout

block vars
  - var bodyClass = 'company-body'

block content
  .in-wrapper.company
    .us-background
    .us-content
      .wrapper
        ul.company__list
          li.list__item
            .item__image(style="background-image: url(../images/partners/knight_gray.svg)")
            .item__content
              .content__title Эксклюзивный брокер
              .content__link
                a(href="www.knightfrank.ru") www.knightfrank.ru
              .content__text
                p.
                  Консалтинговая компания Knight Frank основана в Лондоне в 1896 году и является крупнейшей независимой международной консалтинговой компанией, предоставляющей своим клиентам услуги на рынке коммерческой и жилой недвижимости.
                  Knight Frank совместно со своим стратегическим партнером, компанией Newmark Knight Frank, располагает сетью из 370 офисов и насчитывает более 12000 специалистов по всему миру.
                p.
                  В России  первый офис Knight Frank открылся в 1996 году. На сегодняшней день компания представлена 
                  6 офисами в Москве и Санкт-Петербурге, в штате компании работает более 360 специалистов.
          li.list__item
            .item__image(style="background-image: url(../images/partners/lider-gray.svg)")
            .item__content
              .content__title Девелопер
              .content__link
                a(href="www.l-invest.ru") www.l-invest.ru
              .content__text
                p.
                  Акционерное общество «Лидер-Инвест» создано в 2004 году. Основной сферой деятельности компании является девелопмент жилой и коммерческой недвижимости в Москве. Все строящиеся и проектируемые объекты АО «Лидер-Инвест» расположены в районах с уже сложившейся застройкой и полноценной инфраструктурой. Компания бережно относится к архитектурному историческому наследию Москвы и одной из приоритетных задач при возведении новых зданий является создание комфортной городской среды 
                  и повышение качества жизни будущих жителей.
          li.list__item
            .item__image(style="background-image: url(../images/partners/mezon-gray.svg)")
            .item__content
              .content__title Генеральный проектировщик
              .content__link
                a(href="www.mezon.ru") www.mezon.ru
              .content__text
                p.
                  Архитектурное бюро «Мезонпроект» основано в 1999 году Александрой Кузьминой и Ильёй Машковым. 
                  Первыми работами команды стали проекты интерьеров и индивидуальных домов, многие из которых опубликованы в тематических журналах и награждены знаком «Лучший интерьер года». В 2002 году 
                  началось проектирование объектов капитального строительства в Сибири, а затем и в Москве.
          li.list__item
            .item__image(style="background-image: url(../images/partners/mos-gray.svg)")
            .item__content
              .content__title Генеральный подрядчик
              .content__link
                a(href="www.mospromstroy.com") www.mospromstroy.com
              .content__text
                p.
                  Главное управление по промышленному строительству Москвы — Главмоспромстрой — было создано 
                  в 1972 году. В 1990 году управление было реорганизовано в АОЗТ «Моспромстрой». С апреля 2015 года ПАО «Моспромстрой». На протяжении 42 лет Моспромстрой является лидером строительного рынка Москвы.
          li.list__item
            .item__image(style="background-image: url(../images/partners/mos2-gray.svg)")
            .item__content
              .content__title Технический заказчик
              .content__link
                a(href="www.moskapstroy.ru") www.moskapstroy.ru
              .content__text
                p.
                  Архитектурное бюро «Мезонпроект» основано в 1999 году Александрой Кузьминой и Ильёй Машковым. 
                  Первыми работами команды стали проекты интерьеров и индивидуальных домов, многие из которых опубликованы в тематических журналах и награждены знаком «Лучший интерьер года». В 2002 году 
                  началось проектирование объектов капитального строительства в Сибири, а затем и в Москве.

block scripts