extends templates/layout

block vars
  - var bodyClass = 'contact-body'
  - var activePage = 'contacts.html'

block content
  .in-wrapper.contacts
    .us-background
    .us-content
      .wrapper
        .contacts-block
          .block__left
            .left__title Свяжитесь<br>с нами
            form
              .left__inputs
                .inputs__item.js-input
                  .item__placeholder Имя
                  input(type="text")
                .inputs__item.js-input
                  .item__placeholder Фамилия
                  input(type="text")
                .inputs__item.js-input
                  .item__placeholder E-mail
                  input(type="text")
                .inputs__item.js-input
                  .item__placeholder Телефон
                  input(type="text")
              .left__btn
                button(type="submit").us-btn
                  span Отправить
          .block__right
            .right__item
              .item__image(style="background-image: url();")
                span Эксклюзивный брокер
              .item__bottom
                .bottom__item
                  span.item__name Александр Строганов
                .bottom__item
                  a(href="#").phone-block
                    span.phone__code +7 495
                    span.phone__number 123 45 67
                .bottom__item
                  a(href="#").item__mail mail@mail.ru
            .right__item
              .item__image(style="background-image: url();")
                span Девелопер
              .item__bottom
                .bottom__item
                  span.item__name Александр Строганов
                .bottom__item
                  a(href="#").phone-block
                    span.phone__code +7 495
                    span.phone__number 123 45 67
                .bottom__item
                  a(href="#").item__mail mail@mail.ru
      .contacts-map
        #contacts-map

block scripts