extends templates/layout

block vars
  - var bodyClass = 'index-body'

block content
  .in-wrapper.index
    .index-content.us-content
      .wrapper
        .index__logo
        .index__text.
          Клубный дом «Резиденция на Всеволожском» гармонично вписан<br>
          в исторически сложившуюся застройку и не нарушает ее архитектурную целостность.<br>
          Фасад и интерьеры дома разработаны по авторскому проекту<br>
          и выполнены в стиле арт-деко.<br>
        ul.index__blocks
          li.blocks__item.js-index-hover
            .item__image(style="background: url(../images/tmp/index-1.jpg);")
            .item__title Резиденция
            .item__text Особую элегантность внешнему облику придают роскошные декоративные детали, где основной лейтмотив — изящный орнамент,запечатленный в камне.
          li.blocks__item.js-index-hover
            .item__image(style="background: url(../images/tmp/index-2.jpg);")
            .item__title Окружение
            .item__text Новый респектабельный дом появится в самом престижном районе столицы, известном как «Золотая миля».
          li.blocks__item.js-index-hover
            .item__image(style="background: url(../images/tmp/index-3.jpg);")
            .item__title Архитектура
            .item__text «Лидер-Инвест» — девелоперская компания, реализующая проекты строительства качественной недвижимости и комплексного развития территорий.

block scripts