extends templates/layout

block vars
  - var bodyClass = 'stage-body'

block content
  .in-wrapper.stage
    .us-background
      iframe(src="http://cam.l-invest.ru/vsevolozhskiy/embed.html?dvr=false")
block scripts