doctype html

- var title = '???'
- var bodyClass = ''
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")

  body(class="#{ bodyClass }")
    //- header

    block content

    //- footer
    
    script(src="scripts/main.concat.js?1")      
    script.
      $('body').removeClass('no-js');

    block scripts

    script.
      