doctype html

- var title = '???'
- var bodyClass = ''
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")

  body(class="#{ bodyClass }")
    .header

    block content

    .footer
    
    
    //- // build:js scripts/components.js 
    //- script(src="scripts/components/jquery/dist/jquery.js")
    //- script(src="scripts/components/jquery.scrollbar/jquery.scrollbar.js")
    //- script(src="scripts/components/bxslider-4/dist/jquery.bxslider.js")
    //- // endbuild

    script(src="scripts/components/jquery.js")
    script(src="scripts/components/jquery.scrollbar.js")
    script(src="scripts/components/jquery.bxslider.js")
    


    //- // build:js scripts/pages.js
    script(src="scripts/pages/architecture.js")
    //- // endbuild
    

    block scripts 

    
    script.
      $('body').removeClass('no-js');
